*  {
    box-sizing: border-box;
   
   
  }
  
body {
     
    
    background-image: url("../images/blueLizzard.jpg");
}

.container {
margin-left: 10px;

}

h1 {
font-family: "Permanent Marker", cursive;
font-size: 80px;
}

#triviaPanel {
    Height: 80%;
    Width: 50%;
    float: left; 
    margin-top: 5px;

}

#startBtn {

        margin-top: 200px;
}

.show { 
    display: initial;
}

.hide {
    display: none;

}

.card-body{

    padding: 20px;
    margin-top: 20px;
}

#answerText {
    font-size: 24px;
}